# folders
/saved_objects/
/runs/
/models/
__pycache__/
.vscode/
.mypy_cache/
/results/
scalers/

# files
*.csv
*.out
*.parquet
*.xlsx
*.json
*.pkl
*.pt
*.ini
.venv/
venv/
env/
*.env
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
